@import "~bootstrap/scss/bootstrap.scss";

body{
    background: black;
}

#planet{
    height: 500px;
    width: 500px;
}
#characters{
     height: 500px;
    width: 500px;
}

.scroll{
    overflow-x: scroll;
}


#headline{

    width: 250px;
     
     
}


#Search{
    margin-top: 8px;
    margin-right: 5px;
    border-radius: 5px;
}


.navbar{
    background-color: gray;
}

 